- if @all_shelves_books.size == 0
  %p No books found in the library.
- else 
  %ul.thumbnails{:id => "grid"}
    - @all_shelves_books.each do |book|
      %li
        .thumbnail
          %a{:href => book_path(book)}
            = image_tag(book.cover.url(:tiny))