%p#notice= notice
.page-header
  %h4
    = @shelf.name
    %a.btn.btn-mini.pull-right{:href => edit_profile_shelf_path(@shelf.profile,@shelf)}
      %i.icon-pencil
      Edit Shelf
    %small= @shelf.description
%h5= "Shelf books"
