%p#notice= notice
.page-header
  %h4
    = @shelf.name
    %a.btn.btn-mini.pull-right{:href => edit_profile_shelf_path(@shelf.profile,@shelf)}
      %i.icon-pencil
      Edit Shelf
    %small= @shelf.description
- if @shelf.books.size != 0
  .thumbnails
  - @shelf.books.each do |book|
    .span1
      %a{:href => book_path(book)}
        %img{:src => book.cover_url}
  
