- if @theme_books.size == 0
  %p= "No books found for "+@theme.name+"."
- else 
  %ul.thumbnails{:id => "grid"}
    - @theme_books.each do |book|
      %li
        .thumbnail
          %a{:href => book_path(book)}
            = image_tag(book.cover.url(:tiny))