%br
%h1= @author.name
%br
.page-header
  %strong Bibliography
- if @author.books.size == 0
  %p= "No books found for "+@author.name+"."
- else 
  %ul.thumbnails{:id => "grid"}
    - @author.books.each do |book|
      %li
        .thumbnail
          %a{:href => book_path(book)}
            = image_tag(book.cover.url(:tiny))