%p#notice= notice
.page-header
  %h4
    = @author.name
    %a.btn.btn-mini.pull-right{:href => edit_author_path(@author)}
      %i.icon-pencil
      Edit Author
- if @author.books.size != 0
  .thumbnails
  - @author.books.each do |book|
    .span1
      %a{:href => book_path(book)}
        %img{:src => book.cover_url}