%br
- if !user_signed_in?
  .hero-unit
    %h1 Children books referential
    %br
    %p 
      You don't know what to read to your children ...
      %br
      You want books to help your children confronting their fears ... 
      %br
      You're expecting and you want to explain your children what's going on ...
    %br
    %a.btn.btn-primary.btn-large{:href => new_user_registration_path}
      Join us!
%br
%h3 Last entries
%br
%br
- if @books.size == 0
  %p No books yet.
- else 
  %ul.thumbnails{:id => "grid"}
    - @books.each do |book|
      %li
        .thumbnail
          %a{:href => book_path(book)}
            = image_tag(book.cover.url(:tiny))
