= form_tag reviews_select_shelf_path, :method => :put do
  = hidden_field_tag 'book_id', @book.id
  = select_tag "shelf_id", options_from_collection_for_select(current_user.profile.shelves, "id", "name")
  = submit_tag "Add to my library"
