%script{:type => "text/javascript"}
  :plain 

    $(function() {
      $( "#published_at_datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
      });
    });
    
%h1 Editing book

= render 'form'

= link_to 'Show', @book
\|
= link_to 'Back', books_path
