%script{:type => "text/javascript"}
  :plain 

    $(function() {
      $( "#published_at_datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
      });
      ms = $("#tags").magicSuggest({
        name: "book[tags]",
        resultAsString: true,
        data: "/books/search_tags",
        valueField: "name",
        dataUrlParams: {
            init: true,
            defaultValues: $("#tags_list").val().split(',')
        }
      });
      $(ms).on('load', function(){
        if(this._dataSet === undefined){
            this._dataSet = true;
            ms.setValue($("#tags_list").val().split(','));
            ms.setDataUrlParams({});
        }
      });
    });

- content_for :context_bar do
  %a.btn{:href => new_book_path}
    %i.icon-plus
    New Book
    
%h1 Editing book

= render 'form'

= link_to 'Show', @book
\|
= link_to 'Back', books_path
