%script{:type => "text/javascript"}
  :plain 

    $(function() {
      $( "#published_at_datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
      });
      ms = $("#tags").magicSuggest({
        name: "book[tags]",
        resultAsString: true,
        data: "/books/search_tags",
        valueField: "name"
      });
      $(ms).on('beforeload', function(){
        if(!_initialized){ // only do it once
          _initialized = true;
          ms.setDataUrlParams({
            init: true,
            defaultValues: $("#tags_list").val().split(',')
          });
        } else {
          ms.setDataUrlParams({});
        }
      }
      $(ms).on('load', function(){
        if(!_dataSet){
          // we get here the first time the combo has loaded and gone through 
          // the first if case in tag-autocomplete-service.php: the combo has been
          // populated with the default values only.
          _dataSet = true;
          ms.setValue($("#tags_list").val().split(','));
        }
      });
    });
    
%h1 Editing book

= render 'form'

= link_to 'Show', @book
\|
= link_to 'Back', books_path
