%script{:type => "text/javascript"}
  :plain 

    $(function() {
      $( "#published_at_datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
      });
      $("#tags").magicSuggest({
        name: "book[tags]",
        resultAsString: true,
        data: "/books/search_tags",
        valueField: "name"
      });
    });

- content_for :context_bar do
  %a.btn{:href => new_book_path}
    %i.icon-plus
    New Book
   
%h1 New book

= render 'form'

= link_to 'Back', books_path
